#Семинар №3

Функции. Локальные и глобальные переменные. Передача аргументов. Строки. Списки. Кортежи. Множества.

#Функции

Напишем программу для вычисления факториала какого-нибудь числа. Она будет выглядеть так:

In [ ]:
n = 5

f = 1
for i in range(2, n+1):
    f = f * i
    # эквивалентный синтаксис: f *= i
print(f)

120

В данном случае нам нужно написать функцию, вычисляющую факториал. Она выглядит так:

In [ ]:
def factorial(n):
    f = 1
    for i in range(2, n+1):
        f = f * i
    return f

Теперь мы можем вызывать функцию factorial, передавая ей параметр.

In [ ]:
a=factorial(5)

In [ ]:
a

120

И даже использовать её в более сложных выражениях:

In [ ]:
factorial(5)+factorial(6)

840

Посмотрим более внимательно на то, что происходит, когда Python вычисляет значение выражения factorial(6). В первую очередь он открывает свою записную книжку и ищет там функцию factorial. Находит (поскольку раньше мы её туда записали). Дальше он смотрит на первую строчку определения функции (это так называемая сигнатура):

def factorial(n):

Здесь он видит, что функция factorial() имеет аргумент, который называется n. Python помнит, что мы вызвали factorial(6), то есть значение аргумента должно быть равно 6. Таким образом, дальше он выполняет строчку (которую мы не писали)

n = 6

После чего выполняет остальные строчки из тела функции:


f = 1
for i in range(2, n+1):
    f = f * i

Наконец он доходит до строчки

return f

В этот момент переменная f имеет значение 24. Слово return означает, что Python должен вернуться к строчке, в которой был вызов factorial(6), и заменить там factorial(6) на 24 (то, что написано после return). На этом вызов функции завершён.

In [ ]:
def hello(name):
  #a = "Hello, "+name+"!"
  return "Hello, "+name+"!"

In [ ]:
name = "Nastya"
"Hello, "+name+"!"

'Hello, Nastya!'

In [ ]:
s = hello("World")

А теперь давайте напишем другую функцию, которая не возвращает строчку, а печатает её.

In [ ]:
def say_hello(name):
    print("Hello, "+name+"!")

В этой функции вообще нет команды return, но Python поймёт, что из функции надо возвращаться в основную программу в тот момент, когда строчки в функции закончились. В данном случае в функции только одна строка.

In [ ]:
s = say_hello("Harry")

Hello, Harry!

In [ ]:
s

Функции могут вызывать другие функции. Например, вместо того, чтобы копировать строчку "Hello, "+name+"!" из функции hello() в функцию say_hello(), просто вызовем hello() из say_hello().

In [ ]:
def new_say_hello(name):
    print(hello(name))
    return hello(name)

In [ ]:
new_say_hello("Harry")

Hello, Harry!

'Hello, Harry!'

После выполнения строчки return выполнение функции прекращается. Давайте рассмотрим ещё один пример: вычислим модуль некоторого числа. Код для этой функции может иметь такой вид (функция названа my_abs(), потому что в Python есть встроенная функция abs, которая решает ту же задачу):

In [ ]:
def my_abs(x):
    if x > 0:
        return x
    else:
        return -x

In [ ]:
my_abs(-5)

5

Это самое простое решение: если число положительное, то возвращается оно само, а если отрицательное, то возвращается оно с обратным знаком (-x).

In [ ]:
def my_abs(x):
    print("New my_abs")
    # если функция с таким названием уже была, то Python про неё забудет и запишет вместо этого новую функция
    # чтобы убедиться в этом, здесь поставлен этот print
    if x > 0:
        return x
    return -x

In [ ]:
my_abs(-6)

New my_abs

6

#Локальные и глобальные переменные

Внутри функции могут создаваться и использоваться различные переменные. Чтобы это не создавало проблем, переменные, определенные внутри функции, не видны извне. Давайте рассмотрим пример:

In [ ]:
a=5
def foo(a):
  a = a+1
  return a

print(foo(1), a)

2 5

In [ ]:
f = 10

def factorial(n):
    f = 1
    for i in range(2, n+1):
        f = f * i
    print("In the function, f =", f)
    return f

f = 10
print(f)
print(factorial(8))
print("Out of function")
print(f)

10
In the function, f = 40320
40320
Out of function
10

Как видно из результата выполнения этого кода, переменная f в основной программе и переменная f внутри функции — это совсем разные переменные.

Тем не менее, иногда нам всё-таки хочется, чтобы функция имела доступ к какой-то внешней переменной. Допустим, мы хотим написать функцию, которая будет приветствовать пользователя, используя язык, указанный им в настройках. Она могла бы выглядеть таким образом:

In [ ]:
def hello_i18n(name, lang):
    if lang == 'ru':
        print("Привет,",name)
    else:
        print("Hello,",name)

In [ ]:
hello_i18n("Ivan", 'ru')

Привет, Ivan

In [ ]:
hello_i18n("Ivan", 'en')

Hello, Ivan

Проблема в том, что функций, которым нужно знать, какой язык выбран, может быть очень много, и каждый раз передавать им вручную значение переменной lang отдельным параметром довольно мучительно. Оказывается, можно этого избежать:

In [ ]:
def hello_i18n(name):
    if lang == 'ru':
        print("Привет,",name)
    else:
        print("Hello,",name)

lang = 'ru'

hello_i18n('Ivan')

lang = 'en'
hello_i18n('John')

Привет, Ivan
Hello, John

Как видите, сейчас поведение функции зависит от того, чему равняется переменная lang, определенная вне функции. Может быть и в функции factorial() можно было обратиться к переменной f до того момента, как мы положили в неё число 1? Давайте попробуем:

In [ ]:
f=2

In [ ]:
def factorial(n):
    print("In the function, before assignment, f =", f)
    f = 1
    for i in range(2, n+1):
        f = f * i
    print("In the function, f =", f)
    return f

In [ ]:
factorial(2)

UnboundLocalError: local variable 'f' referenced before assignment

В этом случае Python выдаёт ошибку: локальная переменная f использовалась до присвоения значения. В чём разница между этим кодом и предыдущим?

Оказывается, Python очень умный: прежде, чем выполнить функцию, он анализирует её код и определяет, какая из переменных является локальной, а какая глобальной. В качестве глобальных переменных по умолчанию используются те, которые не меняются в теле функции (то есть такие, к которым не применяются операторы типа приравнивания или +=). Иными словами, по умолчанию глобальные переменные доступны только для чтения, но не для модификации изнутри функции.

Ситуация, при которой функция модифицирует глобальную переменную, обычно не очень желательна: функции должны быть изолированы от кода, который из запускает, иначе вы быстро перестанете понимать, что делает ваша программа. Тем не менее, иногда модификация глобальных переменных необходима. Например, мы хотим написать функцию, которая будет устанавливать значение языка пользователя. Она может выглядеть примерно так:

In [ ]:
def set_lang():
    useRussian = input("Would you like to speak Russian (Y/N): ")
    if useRussian == 'Y':
        lang = 'ru'
    else:
        lang = 'en'

In [ ]:
lang = 'en'
print(lang)
set_lang()
print(lang)

en
Would you like to speak Russian (Y/N): Y
en

Как видим, эта функция не работает — собственно, и не должна. Чтобы функция set_lang смогла менять значение переменной lang, её необходимо явно объявить как глобальную с помощью ключевого слова global.

In [ ]:
def set_lang():
    global lang
    useRussian = input("Would you like to speak Russian (Y/N): ")
    if useRussian == 'Y':
        lang = 'ru'
    else:
        lang = 'en'

In [ ]:
lang = 'en'
print(lang)
set_lang()
print(lang)

en
Would you like to speak Russian (Y/N): Y
ru

#Передача аргументов

In [ ]:
def hello(name, title):
    print("Hello", title, name)

В некоторым случаях мы хотим, чтобы какие-то аргументы можно было не указывать. Скажем, мы хотим иметь возможность вызвать функцию hello(), определённую выше, не указывая title. В этом случае сейчас нам выдадут ошибку:

In [ ]:
hello("Harry")

TypeError: hello() missing 1 required positional argument: 'title'

Это неудивительно: мы сказали, что функция hello() должна использовать аргумент title, но не передали его — какое же значение тогда использовать? Для преодоления этой трудности используютя значения по умолчанию (default values).

In [ ]:
def hello(name="", title=""):
    print("Hello", title, name)
hello(title='Harry')

Hello Harry

In [ ]:
hello("Smith", "Mrs.")

Hello Mrs. Smith

Аргументы можно передавать, указывая их имена.

In [ ]:
hello("Smith", title = "Mr.")

Hello Mr. Smith

In [ ]:
hello(name = "Smith", title= "Mr.")

Hello Mr. Smith

Ещё бывают функции, которые принимают неограниченное число аргументов. Например, так ведёт себя функция print().

In [ ]:
print(8, 7, 5, 'hello', 8, "hello")

8 7 5 hello 8 hello

In [ ]:
def my_print(*args, name = "arg"):
  print(args)
  for x in args:
      print(x, name)

In [ ]:
# def my_print(aa, ddd, *args):
#   print(args)
#   for x in args:
#       print(x)

In [ ]:
my_print(6, 8, 9, 'hello', 88, 55, 5, 5, 55, 555)

(6, 8, 9, 'hello', 88, 55, 5, 5, 55, 555)
6 arg
8 arg
9 arg
hello arg
88 arg
55 arg
5 arg
5 arg
55 arg
555 arg

In [ ]:
lst = [1, 2, 4]
my_print(*lst, lst, 1, name = "arg2")

(1, 2, 4, [1, 2, 4], 1)
1 arg2
2 arg2
4 arg2
[1, 2, 4] arg2
1 arg2

In [ ]:
def formula1(a):
  a = a+1
  b = a+1
  return a, b

(a, b)


def formula2(b):
  b = b+2
  return b
a =1
b=1
print('res1',formula1(a), 'res2', formula2(b))

tututu = formula1(a)

# c = formula1(a)

# m, n = (4, 6)



# print(c)

res1 (2, 3) res2 3

In [ ]:
tututu

(2, 3)

In [ ]:
c

2

In [ ]:
_

3

#Строки

In [ ]:
string = "This is a python tutorial"
print(string)

This is a python tutorial

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
#сложение строк
str1='Hello'
str2='World'
str1+' '+str2

'Hello World'

In [ ]:
#умножение строк
2*str1

'HelloHello'

In [ ]:
#длина строки
len(str1)

5

Пробежимся циклом по символам в строке

In [ ]:
for i in range(len(str1)):
  print(str1[i])

H
e
l
l
o

In [ ]:
for s in str1:
  print(s)

H
e
l
l
o

Изменение строчной буквы строки на заглавную

In [ ]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']




[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [ ]:
string = "iython"

string.capitalize()

'Iython'

Обратимся к символу строки по индексу

In [ ]:
string = "Python"
print(string[2])

t

In [ ]:
string = "programming"
print(string)

programming

In [ ]:
print(string[0:4])

Pyth

In [ ]:
print(string[:3])

pro

In [ ]:
print(string[-3:])

ing

In [ ]:
print(string[3:])

gramming

In [ ]:
print(string[:-3])

programm

Обратный порядок символов

In [ ]:
print(string[::-1])

gnimmargorp

Разделение строки Split()

In [ ]:
String = "Computer Programming"
listString = String.split()
listString

['Computer', 'Programming']

Join()

In [ ]:
" ".join(listString)

NameError: ignored

In [ ]:
String = "Python Programming is fun"

lst = ['dd', 'qqq']
String = " ".join(lst)
String

'dd qqq'

Замена символа

In [ ]:
Money = '$113,678'

In [ ]:
Money = Money.replace('$', '')
Money

'113,678'

In [ ]:
Money = Money.replace(',', '')
Money

'113678'

Поиск в строке

In [ ]:
string = "programming"
string

'programming'

In [ ]:
print(string.find('p'))

0

In [ ]:
print(string.find('t'))

-1

Функция strip удаляет пробелы как в начале, так и в конце строки.

In [ ]:
string = "     programming is easy    "
string

'     programming is easy    '

In [ ]:
print(string.strip())

programming is easy

Поиск в строке

In [ ]:
message = "I like cats and dogs."
dog_present = 'dog' in message
print(dog_present)

True

Змена символов в строке

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
message = message.replace('dog', 'snake')
print(message)

I like cats and snakes, but I'd much rather own a snake.

Подсчет символов в строке

In [ ]:
message = "I like cats and dogs, but I'd much rather own a dog."
number_dogs = message.count('dog')
print(number_dogs)

2

#Списки

In [ ]:
data=[2,5,7,4,5,1,11]
print(data)

[2, 5, 7, 4, 5, 1, 11]

In [ ]:
print(data[1])

5

In [ ]:
n=len(data)
n

7

In [ ]:
for i in range(n):
  if (data[i]>10):
    print ("Это число больше 10:",data[i])

Это число больше 10: 11

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print('I like ' + dog + 's.')

I like border collies.
I like australian cattle dogs.
I like labrador retrievers.

Получем номер индекса элемента

In [ ]:
a = [1, 2, 3, 2]
a.index(2)

1

In [ ]:
print(dogs.index('australian cattle dog'))

1

In [ ]:
print(dogs.index('poodle'))

ValueError: ignored

Проверяем наличие элемента в списке

In [ ]:
print('australian cattle dog' in dogs)
print('poodle' in dogs)

True
False

Добавляем элемент

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.append('poodle')
dogs

['border collie', 'australian cattle dog', 'labrador retriever', 'poodle']

Вставляем элемент

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.insert(1, 'poodle')
print(dogs)

['border collie', 'poodle', 'australian cattle dog', 'labrador retriever']

In [ ]:
a = [1, 2, 3, 2]
a.insert(2, 8)
a

[1, 2, 8, 3, 2]

Заполняем пустой список

In [ ]:
usernames = []

usernames.append('bernice')
usernames.append('cody')
usernames.append('aaron')

for username in usernames:
    print("Welcome, " + username.title() + '!')

Welcome, Bernice!
Welcome, Cody!
Welcome, Aaron!

In [ ]:
a = [1, 2, 3, 2]
sorted(a)

[1, 2, 2, 3]

Сортируем список

In [ ]:
students = ['bernice', 'aaron', 'cody']

students.sort()

print("В алфавитном порядке.")
for student in students:
    print(student.title())

students.sort(reverse=True)

print("\nВ обратном порядке.")
for student in students:
    print(student.title())

В алфавитном порядке.
Aaron
Bernice
Cody

В обратном порядке.
Cody
Bernice
Aaron

sorted() vs. sort()

Если вы хотите отобразить список в отсортированном порядке, но сохранить исходный порядок, вы можете использовать функцию sorted(). Функция sorted() также принимает необязательный аргумент reverse=True.

In [ ]:
students = ['bernice', 'aaron', 'cody']

print("В алфавитном порядке.")
for student in sorted(students):
    print(student.title())

print("\nВ обратном порядке.")
for student in sorted(students, reverse=True):
    print(student.title())

print("\nИсходный порядок.")
for student in students:
    print(student.title())

В алфавитном порядке.
Aaron
Bernice
Cody

В обратном порядке.
Cody
Bernice
Aaron

Исходный порядок.
Bernice
Aaron
Cody

In [ ]:
numbers = [1, 3, 4, 2]

numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
numbers = [1, 3, 4, 2]

print(sorted(numbers))
print(numbers)

[1, 2, 3, 4]
[1, 3, 4, 2]

Разворот списка

In [ ]:
students = ['bernice', 'aaron', 'cody']
students.reverse()

print(students)

['cody', 'aaron', 'bernice']

Удаление элемента

Если вы знаете положение элемента в списке, вы можете удалить этот элемент с помощью команды del. Чтобы использовать этот подход, используйте команду del и имя вашего списка с индексом элемента, который вы хотите удалить, в квадратных скобках:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
del dogs[0]

print(dogs)

['australian cattle dog', 'labrador retriever']

Вы также можете удалить элемент из списка, если знаете его значение. Для этого мы используем функцию remove(). Укажите имя списка, за которым следует слово remove со значением элемента, который вы хотите удалить, в скобках. Python просматривает ваш список, находит первый элемент с этим значением и удаляет его.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.remove('australian cattle dog')

print(dogs)

['border collie', 'labrador retriever']

Обратите внимание, что удаляется только первый элемент с этим значением. Если у вас есть несколько элементов с одинаковым значением, в вашем списке останутся некоторые элементы с этим значением.

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
letters.remove('a')

print(letters)

['b', 'c', 'a', 'b', 'c']

В программировании есть классная концепция, называемая "извлечение" элементов из коллекции. В каждом языке программирования есть какая-то структура данных, похожая на списки Python. Все эти структуры можно использовать в качестве очередей, и существуют различные способы обработки элементов в очереди.

Один простой подход — начать с пустого списка, а затем добавить элементы в этот список. Когда вы хотите работать с элементами в списке, вы всегда берете последний элемент из списка, что-то делаете с ним, а затем удаляете этот элемент. Функция pop() упрощает эту задачу. Он удаляет последний элемент из списка и отдает его нам, чтобы мы могли с ним работать.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
last_dog = dogs.pop()

print(last_dog)
print(dogs)

labrador retriever
['border collie', 'australian cattle dog']

На самом деле вы можете извлечь из списка любой элемент, который хотите, указав индекс элемента, который вы хотите извлечь. Таким образом, мы могли бы использовать подход «первым пришел — первым вышел», вытащив первый элемент из списка:

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
first_dog = dogs.pop(0)

print(first_dog)
print(dogs)

border collie
['australian cattle dog', 'labrador retriever']

Срезы

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[0:3]

for user in first_batch:
    print(user.title())

Bernice
Cody
Aaron

Копирование

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

copied_usernames = usernames[:]
print("Скопированный лист:\n\t", copied_usernames)

del copied_usernames[0]
del copied_usernames[0]
print("\nЛист после удаления элементов:\n\t", copied_usernames)

print("\nИсходный лист:\n\t", usernames)

Скопированный лист:
	 ['bernice', 'cody', 'aaron', 'ever', 'dalia']

Лист после удаления элементов:
	 ['aaron', 'ever', 'dalia']

Исходный лист:
	 ['bernice', 'cody', 'aaron', 'ever', 'dalia']

range()

In [ ]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

min(), max(), sum()

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)

print("Our youngest reader is " + str(youngest) + " years old.")
print("Our oldest reader is " + str(oldest) + " years old.")
print("Together, we have " + str(total_years) +
      " years worth of life experience.")

Our youngest reader is 11 years old.
Our oldest reader is 38 years old.
Together, we have 149 years worth of life experience.

Циклы

In [ ]:
squares = []

for number in range(1,11):
    new_square = number**2
    squares.append(new_square)

for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

In [ ]:
squares = [number**2 for number in range(1,11)]

for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

#Кортежи

Внешне кортежи несильно отличаются от списков. Единственное внешнее отличие ‒ элементы кортежа заключаются в круглые, а не в квадратные скобки.

In [ ]:
my_tuple = (1, 2, 4, 6, 9)

К элементам кортежа можно обращаться точно так же, как к элементам списка:

In [ ]:
my_tuple[0]

1

Но, несмотря на кажущееся сходство, кортежи и списки – принципиально разные объекты. Главное отличие кортежей от списков заключается в том, что кортежи – неизменяемые структуры данных. Другими словами, изменять элементы кортежа нельзя. Проверим:

In [ ]:
my_tuple[2] = 65

TypeError: 'tuple' object does not support item assignment

Иногда это свойство бывает полезным (некоторая «защита» от изменений), многие функции могут возвращать результат или, наоборот, принимать на вход только кортежи или только списки.

При желании кортеж можно превратить в список:

In [ ]:
list(my_tuple)

[1, 2, 4, 6, 9]

И наоборот:

In [ ]:
tuple([1,2,3])

(1, 2, 3)

#Множества

Иногда возникает необходимость проверять разные отношения между двумя наборами элементов. Например, проверить, есть ли у двух списков общие элементы. Для этого можно воспользоваться уже известным оператором `in`:

In [ ]:
a = set()
a ={1,2,3}

set()

In [ ]:
x = set([1,4])

In [ ]:
b = {}

In [ ]:
c = set()

In [ ]:
type(b)

dict

In [ ]:
L1 = [1, 3, 4]
L2 = [1, 4, 5, 6]

In [ ]:
for i in L2:
    if i in L1:
        print(i)

1
4

Но иногда удобно превратить списки в множества (`sets`) и выполнять операции, которые определены для множеств в математике: пересечение, объединение, разность и так далее.

In [ ]:
set()  # пустое множество

set()

In [ ]:
set([1, 2, 6, 2])  # множество, полученное из списка

{1, 2, 6}

Важно иметь в виду, что в множествах (как в программировании, так и в математике) не может быть повторяющихся элементов. Поэтому, если в списке есть повторяющиеся значения, и они важны, превращать спискок в множество не стоит, так как можно потерять элементы.

In [ ]:
set([1, 2, 6, 6, 1, 2])  # потеряли повторы

{1, 2, 6}

Но зато с помощью множеств можно получить список уникальных элементов списка:

In [ ]:
list(set([1, 2, 6, 6, 1, 2]))

[1, 2, 6]

А теперь превратим два числовых списка в множества A и B и попробуем произвести некоторые операции.

In [ ]:
A = set([1, 2, 4, 6])
B = set([2, 3, 6, 8])

Пересечение множеств A и B – общие элементы этих двух множеств ($A \cap B$):

In [ ]:
A.intersection(B)

{2, 6}

Объединение множеств A и B – все элементы множества A и множества B, конечно, без повторений ($A \cup B$):

In [ ]:
A.union(B)

{1, 2, 3, 4, 6, 8}

Разность множеств A и B – все элементы множества A, которых нет в B ($A\text{\\}B$).

In [ ]:
A.difference(B)

{1, 4}

Разность множеств B и A – все элементы множества B, которых нет в A ($B\text{\\}A$).

In [ ]:
B.difference(A)

{3, 8}

Симметрическая разность множеств A и B – все элементы А и B, которые не входят в пересечение этих множеств:

In [ ]:
A.symmetric_difference(B)

{1, 3, 4, 8}

Обратите внимание: результат, полученный после использования методов для множеств, тоже является множеством – элементы перечислены в фигурных скобках. Но при желании результат можно превратить в список:

In [ ]:
list(A.symmetric_difference(B))

[1, 3, 4, 8]

На множествах определены особые методы, которые облегчают сравнение наборов элементов. Например, можно проверить, являются ли множества A и B непересекающимися (не имеющими общих элементов):

In [ ]:
A.isdisjoint(B)  # joint - пересекающиеся, disjoint - непересекающиеся

False

Или проверить, является ли множество A подмножеством B (все элементы A входят в B):

In [ ]:
A.issubset(B)

False

Множество в Python, наверное, не такой распространенный объект как список, кортеж или словарь, но знать о них полезно, потому что в некоторых задачах использовать методы для множеств гораздо эффективнее, чем писать какие-то циклы с разными условиями.

In [ ]:
a = [[1,2,3], [3, 4,5], [5, 6 ,7]]
B.difference(*a)

{8}

#Задачи для решения на семинаре

1. Проверить является ли строка палиндромом.
2. Записать слова строки в алфавитном порядке.
3. Дан одномерный массив числовых значений, насчитывающий N элементов. После каждого отрицательного элемента вставить новый элемент, равный квадрату этого отрицательного элемента.
4. Написать функцию суммирования целых чисел в заданном диапазоне. Если первое число больше чем второе, то поменять их местами.
5. Вывести количество уникальных символов в предложении.
6. Есть 2 множества. Вывести уникальные элементы, присущие каждому из множеств.