#Семинар №1

In [ ]:
a = 3 # создаем переменную a и присваиваем ей значение 3
b = 0.2

# комментарий 1
# комментарий 2
'''
блок комментариев
'''

print(a, b, 'Hello') # выводим на экран значения переменных A и B

3 0.2 Hello

In [ ]:
print('Hello')

Hello

In [ ]:
type(b)

float

### Что можно делать с помощью Markdown?

Выделять заголовки разных уровней.

На входе:

    # Заголовок 1
    ## Заголовок 2
    ### Заголовок 3
    
На выходе:

# Заголовок 1
## Заголовок 2
### Заголовок 3

Выделять части текста с помощью *курсива* или **полужирного начертания**. Или даже <s>зачеркивать</s>. Вот так этот текст выглядит в размеченном виде:

       Выделять части текста с помощью *курсива* или **полужирного начертания**. Или даже <s>зачеркивать</s>.

Добавлять списки разного вида.

**Ненумерованный список.**

На входе:

    * пункт 1
    * пункт 2
    * пункт 3

На выходе:

* пункт 1
* пункт 2
* пункт 3

**Нумерованный список:**

На входе:

    1. Во-первых,...
    2. Во-вторых,...
    3. В-третьих,...
    
На выходе:

1. Во-первых,...
2. Во-вторых,...
3. В-третьих,...

оформлять формулы, используя синтаксис, принятый в LaTeX:

$$(x+y)^2 = x^2 + 2xy + y^2$$

$$\Delta = I_{2018} - I_{2017}$$

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

$$\sin(\alpha)^2 + cos(\alpha)^2 = 1$$

Формулы были получены таким образом:

    $$(x+y)^2 = x^2 + 2xy + y^2$$

    $$\Delta = I_{2018} - I_{2017}$$

    $$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

    $$\sin(\alpha)^2 + cos(\alpha)^2 = 1$$

Еще можно добавлять **ссылки**. Либо текст ссылки и саму ссылку: текст `[Jupyter](http://jupyter.org)` даст ссылку [Jupyter](http://jupyter.org). Либо саму ссылку как есть: текст `<http://jupyter.org/>` вернет ссылку <http://jupyter.org/>.

## Python как калькулятор, переменные и типы переменных

### Python как калькулятор

Привычные арифметические действия (сложение, вычитание, умножение, деление) в Python выглядят так же, как и в обычных калькуляторах:

In [ ]:
1 + 4 # сложение

5

In [ ]:
5 * 4 - 9 # умножение и вычитание

11

In [ ]:
7 / 2 # деление

3.5

Однако с делением всё не так просто: Python 3 всегда будет выдавать результат в виде числа с плавающей точкой (*float*), даже тогда, когда ожидается целочисленный ответ. Например:

In [ ]:
8 / 2 # не 4

4.0

Получился дробный результат, где дробная часть равна 0. Как быть, если нужен ответ в виде целого числа? Можно воспользоваться целочисленным делением.

In [ ]:
8 // 2 # теперь 4

4

Тут важно помнить, что при использовании оператора `//` дробная часть всегда будет просто отбрасываться – никакого округления происходить не будет. Для округления (обычное арифметическое, в большую и в меньшую сторону) существуют специальные функции.

In [ ]:
7 // 2 # от 3.5 осталось 3

3

Для возведения числа в степень используется `**`:

In [ ]:
6 ** 2

36

In [ ]:
6 ** 3

216

In [ ]:
6 ** (1/3) # дробная степень - корень 3 степени

1.8171205928321397

Теперь попробуем извлечь квадратный корень из числа с помощью привычного `sqrt`.

In [ ]:
sqrt(9) # не получается!

NameError: ignored

Python пишет, что не знает, что такое `sqrt`. В каких случаях Python может такое писать? Например, если мы опечатались в названии функции (Python не понимает, что мы от него хотим) или если мы пытаемся обратиться к функции, которая не является базовой (Python не знает, откуда её брать). В данном случае мы столкнулись со второй проблемой.  Функция для вычисления квадратного корня из числа хранится в специальном модуле `math`. Этот модуль стандартный, дополнительно устанавливать его не нужно. Но для того чтобы воспользоваться этой функцией, нужно сначала импортировать модуль, а потом вызвать из него функцию `sqrt`.

In [ ]:
import math # импортируем модуль math

In [ ]:
math.sqrt(9) # теперь все работает

3.0

Если из `math` нам нужна только одна функция `sqrt` , можно извлечь только её, и тогда прописывать название модуля перед функцией не понадобится:

In [ ]:
from math import sqrt
sqrt(16) # так тоже работает

4.0

Иногда, если неизвестно, сколько функций потребуется, но каждый раз прописывать полностью название модуля не хочется, можно импортировать его сразу с сокращённым названием:

In [ ]:
import math as ma # сократили до ma
ma.sqrt(9)

3.0

*Примечание:* Модуль – это набор функций, а библиотека – это набор модулей, то есть что-то более сложное по структуре и более насыщенное по функционалу.

В `math` есть много полезных функций для вычислений. Чтобы посмотреть, какие функции там есть, после импортирования всего модуля через `import math` можно набрать `math.` и нажать на *Tab* (табуляция, кнопка над *Caps Lock*). Помимо квадратного корня этот модуль поможет вычислить логарифм (натуральный и не только), синус, косинус и так далее.

In [ ]:
math.log(2) # натуральный логарифм

0.6931471805599453

In [ ]:
math.log10(100) # десятичный логарифм (логарифм по основанию 10)

2.0

In [ ]:
math.sin(0) # синус

0.0

Здесь же хранятся функции для округления в большую или меньшую сторону:

In [ ]:
math.ceil(8.7) # ceil - потолок

9

In [ ]:
math.floor(8.7) # floor - пол

8

In [ ]:
round(3.723, 2)

3.72

А ещё из `math` можно импортировать константы $\pi$ и $e$:

In [ ]:
from math import pi, exp # можно сразу несколько - перечислить через запятую

In [ ]:
pi

3.141592653589793

In [ ]:
exp(1) # e = e^1 = exp(1)

2.718281828459045

Просто константу `e` можно также получить, вызвав `e`:

In [ ]:
math.e

2.718281828459045

**Примечание:** если мы знаем, что будем использовать практически все функции из модуля `math`, их можно извлечь все сразу, и тогда прописывать название библиотеки нам не понадобится нигде.

In [ ]:
from math import *

Однако в общем случае так делать нежелательно, потому что это нерационально и увеличивает время исполнения кода (Python подгружает все функции, а мы пользуемся только двумя, например).

С чем ещё можно столкнуться, выполняя вычисления в Python? С такими вещами:

In [ ]:
1 / 18 ** 25

4.1513310942010236e-32

Результат выше – компьютерная форма экспоненциальной записи числа. Возможно, тот, кто считал что-то на научных или инженерных калькуляторах, уже сталкивался с такой записью. Здесь `e-32` – это $10^{-32}$, а вся запись означает $4.1513310942010236 \cdot 10^{-32}$, то есть примерно $4.15 \cdot 10^{-32}$. Теоретически, если число было очень большим, `e` стояло бы в положительной степени. Но в Python такое не случается, обычно он выводит огромные числа, просто переходя на новую строку, если места на одной не хватает:

In [ ]:
23 ** 990

12899047957225248523006646539464335721979411301041340884781899303831010765027442196396594170642790934375007246578677182803636590164161819235523359334210795997877313526230138186880373768216363562984711930606834390635683889567066017501638286295454450223592921380025243612655929972891854670089005958782301313748919257409270999076443855743717129316401343809648755190213387432370099603517989905917859013302341878321325941570315088698234189444110362237214217846884135935952399097352427521852877620725021626938113437232848226058128334528859922677792198697568021708059256675191088006467069748109014817451375952598349790911535607651796493584493889427435570940502359773301622881259890983839926411232560174739455589741388073805529446667461505169110660161765843273557623843219490805708791092602475974648916336329253754550331716502327365416889998212147857020330942368277430427804385066546271943413689950822020931400593245046303758610973943882235592749794293155060009636680119916358947879472882782808870076229635495297702820410851089251120079429452529354919596272075046635023793735251154878700529432000342403111069160632592433095161936605646694694109530441088995393229754160740330575038216906404744009495445586324655891258721903641299986081018110880120922925030222636715904777957341225983442938451506259053249716900875692689602609775497863867095485915444153828849

Компьютерная форма записи числа отчасти помогает понять, почему дробные числа называются числами с плавающей точкой (*float*). Возьмем число попроще, например, $12.34$. Его можно записать как $12.34$, как $1.234 \cdot 10$, как $123.4 \cdot 10^{-1}$, $1234 \cdot 10^{-2}$ и так далее. Точка, отделяющая дробную часть от целой, будет «плавать», однако само число при этом меняться не будет, будут меняться только множители – разные степени десятки.

С числами с плавающей точкой связана ещё одна сложность — округление. На первый взгляд, всё хорошо:

In [ ]:
round(12.6) # округлим до целого - по умолчанию

13

In [ ]:
round(12.53, 1) # округлим до первого знака после запятой

12.5

С другой стороны, могут возникнуть странности:

In [ ]:
round(2.50) # не 3

2

In [ ]:
round(3.525, 2) # не 3.53

3.52

Эти странности связаны с тем, что число, которое мы видим (например, 3.525), не совпадает с тем, которое хранится в компьютере, потому что оно при сохранении преобразовывается и превращается из точного 3.525 в такое:

In [ ]:
from decimal import Decimal
Decimal(3.525)

И такое число будет законно округляться до 3.52 по правилам арифметического округления. В прикладном анализе данных такие сложности редко вызывают проблемы, но знать про нее полезно, чтобы не пугаться и не удивляться неожиданным результатам. Кроме того, полезно помнить, что числа с плавающей точкой (типа *float*) не рекомендуется использовать в финансовых вычислениях и вообще в вычислениях, требующих высокой точности, поскольку они «накапливают ошибку», то есть дают неточные результаты.

### Переменные

Переменные в программировании похожи на переменные в математике. Кроме того, их можно рассматривать как хранилища значений – контейнеры или «коробки», в которые мы что-то кладем. Python, в отличие от некоторых языков программирования (C, C++, Java), сам распознает что мы «кладем в коробку»: число, целое число, текст, список чисел... Поэтому при создании переменной нам не нужно указывать ее тип.

In [ ]:
x = 2 # Python поймет, что это целые числа
y = 3

In [ ]:
print(x)
print(y)

2
3

In [ ]:
print(x,'\n',y)

2
 3

In [ ]:
print(x, y, end='a')

2 3a

In [ ]:
x+2

4

In [ ]:
x

2

Значения переменных мы можем обновлять – изменить значение и сохранить в переменную с тем же названием.

In [ ]:
x = x + 1 # возьмем значение x, увеличим на 1 и сохраним изменения в переменной x
x

3

In [ ]:
x

3

In [ ]:
y = y * 2 # возьмем значение y, увеличим в 2 раза и сохраним изменения

In [ ]:
print(x, y) # одновременно два значения

3 6

Названия переменных в Python могут быть почти любыми. Три общих правила: название переменной не должно начинаться с цифры, в названии не должно быть пробелов, название не должно совпадать со служебными (зарезервированными) словами в Python. Список зарезервированных слов можно узнать так:

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Обычно рекомендуется давать переменным осмысленные названия: если речь идёт о доходе, называть переменную не `x`, а `income`, если речь идёт о данных по преступности, сохранять таблицу в переменную `crimes`, и так далее.

Рассмотрим такую задачу. Пришла весна и решили мы заняться бегом по такой схеме: каждый день мы пробегаем столько, сколько в сумме за два предыдущих дня. При этом первые два дня мы морально готовимся: топчемся на месте и символически проходим по одному метру (полшага назад и полшага вперед). Если мы будем записывать все пройденные нами расстояния в ряд, мы получим последовательность из [чисел Фибоначчи](https://ru.wikipedia.org/wiki/%D0%A7%D0%B8%D1%81%D0%BB%D0%B0_%D0%A4%D0%B8%D0%B1%D0%BE%D0%BD%D0%B0%D1%87%D1%87%D0%B8). Давайте напишем код, который будет считать, сколько метров мы будем пробегать в следующий день.

Сначала создадим переменные, в которые сохраним данные по первым двум дням.

In [ ]:
b = 1 # день 1 - морально готовимся бегать, «бежим» 1 метр
i = 1 # номер дня, когда начинаем бегать
bnext = 1 # день 2 - снова морально готовимся бегать, «бежим» 1 метр
i = i + 1 # перешли ко второму дню, увеличили i на 1

In [ ]:
res = b + bnext # в следующий день пробегаем столько же, сколько за два предыдущих
i = i + 1 # перешли к следующему дню, увеличили i на 1
b = bnext   # значение b нам уже не нужно, сдвигаемся к следующему дню - записываем bnext
bnext = res   # запомнили полученное значение res
print(i, bnext) # выводим на экран номер дня и расстояние, которое нужно пробежать

7 13

Теперь можно прогонять предыдущую ячейку много раз (через *Ctrl + Enter*) и получать результат по каждому дню. Например, на 20 день мы будем пробегать уже нормальное расстояние — 6765 метров, почти 7 километров.  Конечно, прогонять одну и ту ячейку много раз неудобно и странно, но о том, как считать числа Фибоначчи более рационально, мы поговорим, когда будем разбирать циклы.

**Важно:** если бы не разбили наш код на части (на две ячейки), ничего бы при повторном запуске ячейки не произошло — переменным `b`, `bnext` и `i` заново присваивались бы значения 1, и движения вперед бы не происходило.

**Примечание:** можно было последней строкой написать `print(i, res)`, ничего бы не изменилось.

### Типы переменных и преобразование типов

Типы переменных:

* числовой c плавающей точкой  (*float*);
* целочисленный (*integer*);
* строковый или текстовый (*string*);
* логический (*boolean*): только два значения `True` и `False`.

Посмотрим, как определить тип переменной:

In [ ]:
x = 2.34
type(x)  # функция type

float

In [ ]:
y = 2
type(y)

int

In [ ]:
r = 'hello'
type(r)

str

In [ ]:
l = True
type(l)

bool

Иногда требуется преобразовать тип переменной, например, из числа с плавающей точкой сделать целое число.

In [ ]:
int(25.0) # int - от integer

25

Вообще функции для изменения типа переменных называются так же, как и сами типы или их сокращённые названия.

In [ ]:
float(23)

23.0

In [ ]:
str(2) # str - от string

'2'

In [ ]:
int("23")  # int - от integer

23

Однако, если преобразование невозможно, Python выдаст ошибку (а точнее, исключение `ValueError`, про исключения поговорим позже):

In [ ]:
float('23,56')

ValueError: ignored

Так как запятая в Python не воспринимается как десятичный разделитель (в качестве разделителя используется точка), превратить строку '23,56' в число не получится, нужно будет сначала заменить запятую на точку.

### Ввод информации с клавиатуры

Иногда возникает необходимость запросить какую-нибудь информацию у пользователя — попросить ввести её с клавиатуры. Это может быть нужно, например, когда мы пытаемся имитировать заполнение какой-нибудь формы (собрать информацию и обработать) или написать функцию, которая будет работать по-разному в зависимости от режима ("Если хотите выгрузить данные из файла, нажмите 1, если хотите вводить данные вручную, введите 2").

Запросить данные с клавиатуры можно с помощью функции `input()`:

In [ ]:
input("Введите что-нибудь: ")

Введите что-нибудь: 12345

'12345'

Однако обычно нам нужно не просто вывести на экран то, что ввел пользователь (он и сам это видит), но и сохранить введенную информацию. Сделаем это и заодно перейдем к числам.

In [ ]:
num = input("Введите какое-нибудь число: ")

Введите какое-нибудь число: 6

Теперь мы можем работать с переменной `num`, в которую мы сохранили результат ввода с клавиатуры.

In [ ]:
num

'6'

Введенное нами число 5 сохранилось. Однако, если посмотреть внимательнее, это не совсем число: число пять стоит в кавычках. Это строка! То есть обычный текст. Проверим:

In [ ]:
type(num) # действительно

str

Тут нам как раз и пригодится преобразование типов переменных:

In [ ]:
num = int(num)
num

6

И теперь всё сразу: правильно и компактно.

In [ ]:
num = int(input("Введите какое-нибудь число: "))
num

Введите какое-нибудь число: 5

5

Раз мы не предлагаем пользователю ввести именно целое число, число может быть любым, даже дробным. Учтём это – будем конвертировать введенный текст в число с плавающей точкой.

In [ ]:
num = float(input("Введите какое-нибудь число: "))
num

С клавиатуры можно вводить сколько угодно объектов:

In [ ]:
numbers = input("Введите числа через пробел: ")

Введите числа через пробел: fjgdfjg krgjkrj krk

In [ ]:
numbers

'fjgdfjg krgjkrj krk '

Только тогда для работы с отдельными элементами ввода потребуется разбить строку на части по какому-нибудь символу (в нашем случае – по пробелу). О разбиении текста на части поговорим позже, когда будем обсуждать работу со строками, а пока разберём вывод информации на экран.

### Вывод информации на экран

Как мы уже знаем, для вывода чего-либо на экран в Python существует функция `print()`:

In [ ]:
print(5)
print('Hello!')

5
Hello!

Для того, чтобы вывести на экран сразу несколько объектов, нужно просто перечислить их через запятую в круглых скобках.

In [ ]:
age = 23
print('Your age is ', age)

Your age is  23

По умолчанию в качестве разделителей (отделяющих объекты друг от друга) используются пробелы. Но при желании это можно поправить, добавив аргумент `sep` (от *separator* – разделитель):

In [ ]:
print(2, 3, sep='-')

2-3

In [ ]:
print(2, 3, sep='------')

2------3

### Форматирование строк (string formatting)

А теперь посмотрим на то, как подставлять значения в уже имеющийся текстовый шаблон, то есть форматировать строки. Чтобы понять, о чём идет речь, можно представить, что у нас есть электронная анкета, которую заполняет пользователь, и мы должны написать программу, которая выводит на экран введенные данные, чтобы пользователь мог их проверить.

Пусть для начала пользователь вводит свое имя и возраст.

In [ ]:
name = input("Введите Ваше имя: ")
age = int(input("Введите Ваш возраст: ")) # возраст будет целочисленным

Введите Ваше имя: nast
Введите Ваш возраст: 18

Теперь выведем на экран сообщение вида

    Ваше имя: `имя`. Ваш возраст: `возраст`.

Но прежде, чем это сделать, поймем, какого типа будут значения, которые мы будем подставлять в шаблон. Имя (переменная `name`) – это строка (*string*), а возраст (переменная `age`) – это целое число (*integer*).

In [ ]:
result = "Ваше имя: %s. Ваш возраст: %i." % (name, age)
print(result)

Ваше имя: nast. Ваш возраст: 18.

Что за таинственные `%s` и `%i`? Все просто: оператор `%` в строке указывает место, на которое будет подставляться значение, а буква сразу после процента – сокращённое название типа данных (`s` – от *string* и `i` – от *integer*). Осталось только сообщить Python, что именно нужно подставлять – после кавычек поставить `%` и в скобках перечислить названия переменных, значения которых мы будем подставлять.

Конечно, результат можно выводить сразу, не сохраняя полученную строку в переменную. Главное, не запутаться в скобках, и не потерять их.

In [ ]:
print("Ваше имя: %s. Ваш возраст: %i." % (name, age))

Ваше имя: nast. Ваш возраст: 18.

*Примечание:* не теряйте часть с переменными после самой строки. Иначе получится нечто странное:

In [ ]:
print("Ваше имя: %s. Ваш возраст: %i.")

Ваше имя: %s. Ваш возраст: %i.

Важно помнить, что если мы забудем указать какую-то из переменных, мы получим ошибку (точнее, исключение): Python не будет знать, откуда брать нужные значения.

In [ ]:
print("Ваше имя: %s. Ваш возраст: %i." % (name))

TypeError: ignored

Кроме того, создавая такие текстовые шаблоны, нужно обращать внимание на типы переменных, значения которых мы подставляем.

In [ ]:
print("Ваше имя: %s. Ваш возраст: %s." % (name, age)) # так сработает

Ваше имя: nast. Ваш возраст: 18.

In [ ]:
print("Ваше имя: %i. Ваш возраст: %s." % (name, age)) # а так нет

TypeError: ignored

В первом случае код сработал: Python не очень строго относится к типам данных, и поэтому он легко может превратить целочисленный возраст в строку (два `%s` вместо `%s` и `%i` не является помехой). Во втором случае все иначе. Превратить строку, которая состоит из букв (`name`) в целое число никак не получится, поэтому Python справедливо ругается.

А что будет, если мы будем подставлять не целое число, а дробное, с плавающей точкой? Попробуем!

In [ ]:
height = float(input("Введите Ваш рост (в метрах): "))
height

Введите Ваш рост (в метрах): 1.7

1.7

In [ ]:
print("Ваш рост: %f м." % height) # f - от float

Ваш рост: 1.700000 м.

По умолчанию при подстановке значений типа *float* Python выводит число с шестью знаками после запятой. Но это можно исправить. Перед `f` нужно поставить точку и указать число знаков после запятой, которое мы хотим:

In [ ]:
print("Ваш рост: %.2f м." % height) # например, два

Ваш рост: 1.70 м.

In [ ]:
print("Ваш рост: %.1f м. " % height) # или один

Ваш рост: 1.7 м.

В случае, если указанное число знаков после запятой меньше, чем есть на самом деле (как в ячейке выше), происходит обычное арифметическое округление.

Рассмотренный выше способ форматирования строк – не единственный. Он довольно стандартный, но при этом немного устаревший. В Python 3 есть другой способ ‒ форматирование с помощью метода `.format()`. Кроме того, в Python 3.6 и более поздних версиях появился еще более продвинутый способ форматирования строк ‒ *f-strings* *(formatted string literals)*.

F-strings очень удобны и просты в использовании: вместо `%` и сокращённого названия типа в фигурных скобках внутри текстового шаблона нужно указать название переменной, из которой должно подставляться значение, а перед всей строкой добавить `f`, чтобы Python знал, что нам нужна именно *f-string*.

In [ ]:
print(f"Ваше имя: {name}. Ваш возраст: {age}")

Ваше имя: nast. Ваш возраст: 18