# Семинар №2

## Введение в списки и цикл `for`

### Знакомство со списками

Создадим список значений возраста респондентов, список `age`:

In [ ]:
age = [23, 25, 32, 48, 19]  # возраст
age

[23, 25, 32, 48, 19]

In [ ]:
list()

Элементы списка перечисляются в квадратных скобках через запятую.

Можем создать список имен `name`, полностью состоящий из строк:

In [ ]:
name = ["Анна", "Виктор", "Дмитрий", "Алёна", "Павел"] # имена
name

['Анна', 'Виктор', 'Дмитрий', 'Алёна', 'Павел']

А можем создать смешанный список – список, состоящий из элементов разных типов. Представим, что не очень сознательный исследователь закодировал пропущенные значения в списке текстом, написал "нет ответа":

In [ ]:
mix = [23, 25, "нет ответа", 32, "нет ответа"] # все вместе

Элементы разных типов спокойно уживаются в списке: Python не меняет тип элементов. Все элементы, которые являются строками, останутся строками, числа – числами, а сам список будет обычным списком:

In [ ]:
type(mix)

list

У списка всегда есть длина – количество элементов в нем. Длина определяется с помощью функции `len()`.

In [ ]:
len(mix)  # пять элементов

5

Если список пустой, то, как несложно догадаться,  его длина равна нулю:

In [ ]:
empty = list()
len(empty)

0

Раз список состоит из элементов, к ним можно обратиться по отдельности. Главное, нужно помнить, что нумерация в Python начинается с нуля, а не с единицы. Существует несколько обоснований, почему это так, с одним из них мы познакомимся чуть позже, когда будем обсуждать срезы (*slices)*.

In [ ]:
age[1]  # первый элемент age

25

Порядковый номер элемента в списке называется индексом. Далее, чтобы не путаться, будем разделять термины: порядковые числительные останутся для обозначения номера элемента в нашем обычном понимании, а индексы – для обозначения номера элемента в Python. Например, если нас будет интересовать элемент 25 из списка `age`, мы можем сказать, что нас интересует второй элемент или элемент с индексом 1:

In [ ]:
print(age)
print(age[1])

[23, 25, 32, 48, 19]
25

Если элемента с интересующим нас индексом в списке нет, Python выдаст ошибку, а точнее, исключение, `IndexError`.

In [ ]:
age[7]

IndexError: ignored

А как обратиться к последнему элементу списка, да так, чтобы код работал и в случае, когда мы изменим длину списка? Давайте подумаем. Длина списка `age`, как мы уже убедились, равна 5, но нумерация самих элементов начинается с нуля. Поэтому:

In [ ]:
age[len(age) - 1]  # последний элемент - 19

19

Конечно, в том, что нумерация элементов в списке начинается с нуля, есть некоторое неудобство – индекс последнего элемента не совпадает с длиной списка. Но, на самом деле, обращаться к последнему элементу списка можно и по-другому: считать элементы с конца!

In [ ]:
age[-1] # последний элемент - он же первый с конца

19

Отрицательные индексы элементов в Python – абсолютно нормальная вещь. Можем так же получить второй элемент с конца:

In [ ]:
age[-2]

48

In [ ]:
a = [1, 4.0, 'Hello', [1, 2, 3]]
a[3][1]

2

### Цикл for

Раз есть списки, хочется научиться «пробегаться» по их элементам. Например, выводить на экран не весь список `age` сразу, а постепенно, каждый элемент с новой строчки. Для этого есть циклы. Рассмотрим цикл *for*.

In [ ]:
for i in age:
    print(i, end = ' ')

23 25 32 48 19

Как устроен цикл выше? Кодом выше мы доносим до Python мысль:

* пробегайся по всем элементам списка `age` (`for i in age`);
* выводи каждый элемент на экран (`print(i)`).

Вообще любой цикл *for* имеет такую структуру: сначала указывается, по каким значениям нужно итерировать «пробегаться», а потом, что нужно делать. Действия, которые нужно выполнить в цикле, указываются после двоеточия в *for* – эта часть назвается *телом* цикла.  

Буквы в конструкции *for* могут быть любые, совсем необязательно брать букву `i`. Python сам поймет, что мы имеем в виду, запуская цикл.

В качестве еще одного примера давайте для каждого элемента списка выведем на экран сообщение вида:

    x^2 – квадрат числа x.

In [ ]:
# вместо i напишем a
for a in age:
    print(a ** 2, "– квадрат числа", a)

529 – квадрат числа 23
625 – квадрат числа 25
1024 – квадрат числа 32
2304 – квадрат числа 48
361 – квадрат числа 19

Теперь, используя цикл и специальный метод `.append()`, создадим новый список на основе старого – дополним пустой список преобразованными элементами старого списка. Метод `.append()` работает просто: он приписывает элемент в конец списка. Например, так:

In [ ]:
print(age)  # до
age.append(76)
print(age)  # после

[23, 25, 32, 48, 19]
[23, 25, 32, 48, 19, 76]

Теперь создадим на основе старого списка `age` список `age2` с квадратами значений возраста:

In [ ]:
age2 = []  # пока пустой список
for a in age:
    age2.append(a ** 2)
age2  # сработало!

[529, 625, 1024, 2304, 361, 5776]

Конечно, циклы нужны не только для того, чтобы работать со списками. С помощью циклов можно решить любую задачу, которая требует повторения одинаковых действий.

In [ ]:
# создадим список с номерами дней

days = [2, 3, 4, 5, 6, 7, 8, 9 , 10]

# начальное значение времени
time = 1

print(1, time)

# теперь будем изменять значение time в цикле
# и выводить на экран номер дня и время

for d in days:
  time = time + 3
  print(d, time)

1 1
2 4
3 7
4 10
5 13
6 16
7 19
8 22
9 25
10 28

## Списки в Python и функция `range()`

Список – это структура данных, которая может включать в себя элементы разных типов:

In [ ]:
nums = [5, 6, 8, 1]
nums

[5, 6, 8, 1]

In [ ]:
names = ["Anna", "Fred", "Tina"]
names

['Anna', 'Fred', 'Tina']

In [ ]:
mixed = ["Anna", 10, "Fred", 7]
mixed

['Anna', 10, 'Fred', 7]

### Изменяемость и неизменяемость + метод `.append()`

Важная особенность списков заключается в том, что они являются изменяемой (*mutable*) структурой данных. Это означает, что список можно изменять, не переопределяя переменную, в которой этот список сохранен. Чтобы понять, о чём речь, давайте посмотрим сначала на примеры неизменяемых (*immutable*) объектов в Python. Начнём с целых чисел. Если у нас есть переменная `a`, и в ней сохранено целое число, мы сможем изменить её значение только создав новую переменную с таким же названием:

In [ ]:
a = 3
print(id(a))
a = a + 1  # новое значение
print(id(a))

133444690166064
133444690166096

Другими словами, у нас нет никакого иного способа, который можно было бы применить, чтобы, например, увеличить значение `a`, не переопределяя её через оператор `=`. То же будет и со строками.

In [ ]:
s = "питон"

Теперь попробуем сделать первую букву заглавной:

In [ ]:
s_new = s.capitalize()

In [ ]:
s_new

'Питон'

In [ ]:
s

'питон'

Но сама строка пока не изменилась – всё потому, что строка является объектом неизменяемого типа:

In [ ]:
s

'питон'

In [ ]:
s[0]

'п'

Чтобы сохранить изменения, нужно переопределить переменную `s`:

In [ ]:
s = s.capitalize()
s

'Питон'

К неизменяемым объектам в Python относятся:
    
* целые числа (*int*);
* числа с плавающей точкой (*float*);
* строки (*str*);
* логические значения (*bool*);
* кортежи (*tuples*).

Теперь посмотрим на изменяемые объекты. К изменяемым объектам относятся:

* списки (*list*);
* словари (*dictionary*);
* множества (*set*).

Есть список `M`:

In [ ]:
M = [1, 9, 4]
print(id(M))
M.append(1)
print(id(M))

Заменим первый элемент на 100:

In [ ]:
M[0] = 100
M

[100, 9, 4, 1]

Изменения сохранились, но при этом значение переменной `M` не пришлось переопределять заново. Теперь припишем в конец списка `M` ещё один элемент – для это применим метод `.append()` :

In [ ]:
M.append(200)
M

[100, 9, 4, 200]

Список `M` изменился, но присваивание с `=` мы нигде не использовали, мы изменили список «как есть». Более того, если мы исполним что-то такое `M = M.append(200)`, мы получим неожиданный результат:

In [ ]:
M = M.append(200)
print(M)

None

Результат `None`. Почему? Потому что метод `.append()` сам по себе не возвращает никакого результата (результат пуст, имеет тип `None`), он «молча» записывает элемент в конец списка.

При работе с изменяемыми объектами нужно быть осторожными при создании копии. Если мы работаем с неизменяемыми объектами, можно просто присвоить новой переменной значение старой с помощью `=`:

In [ ]:
a = 3
b = a
b = b + 1
print(a, b)

3 4

В примере выше мы скопировали значение `a` в переменную `b`, значение `b` изменили, а значение `a` изменений не претерпело.

С изменяемыми объектами это бы не сработало. Вернемся к спискам.

In [ ]:
L = [1, 6, 7]
L2 = L
L2.append(10)
print(L, L2)

[1, 6, 7, 10] [1, 6, 7, 10]

Несмотря на то, что список `L` мы не трогали, он изменился точно так же, как и список `L2`! Что произошло? На самом деле, когда мы записали `L2 = L`, мы скопировали не сам список, а ссылку на него. Другими словами, проводя аналогию с папкой и ярлыком, вместо того, чтобы создать новую папку `L2` с элементами, такими же, как в `L`, мы создали ярлык `L2`, который сам по себе ничего не содержит, а просто ссылается на папку `L`.

Так как же тогда копировать списки? Во-первых, у списков есть метод `.copy()`.

In [ ]:
L = [1, 6, 7]
L2 = L.copy()
L2.append(10)
print(L, L2)

[1, 6, 7] [1, 6, 7, 10]

Во-вторых, можно сделать полный срез срез и «срезать» весь список:

In [ ]:
L = [1, 6, 7]
L2 = L[:]
L2.append(10)
print(L, L2)

[1, 6, 7] [1, 6, 7, 10]

In [ ]:
L = [1, 6, 7, 9]
L2 = L[1:3]
L2.append(10)
print(L, L2)

[1, 6, 7, 9] [6, 7, 10]

In [ ]:
L = [1, 6, 7, 9]
L[1:3] = [100, 100]

print(L)

[1, 100, 100, 9]

In [ ]:
L[1:2]

[6]

In [ ]:
a = [1, 2, 4, 7, 10]
b = a[2:5]
b[1:2]

[7]

In [1]:
# особенности копирования вложенных списков (позже рассмотрим подробнее)
a = [1, 2, 3, [1, 4, 5]]
b = a.copy()
b[3].append(10)
print(a, b)

[1, 2, 3, [1, 4, 5, 10]] [1, 2, 3, [1, 4, 5, 10]]

In [ ]:
a = [1, 2, 3, [1, 4 ,5, [1, 2, 3]]]
b = a.copy()
b[3][3].append(10)
print(a, b)

[1, 2, 3, [1, 4, 5, [1, 2, 3, 10]]] [1, 2, 3, [1, 4, 5, [1, 2, 3, 10]]]

In [ ]:
import copy
a = [1, 2, 3, [1, 4 ,5, [1, 2, 3]]]
b = copy.deepcopy(a)
b[3][3].append(10)
print(a, b)

[1, 2, 3, [1, 4, 5, [1, 2, 3]]] [1, 2, 3, [1, 4, 5, [1, 2, 3, 10]]]

### Метод `.extend()` vs метод `.append()`

Метод `.append()` используется, если в конец списка нужно приписать один элемент. А что, если нужно добавить сразу несколько элементов? Метод `.append()` уже не подойдёт:

In [ ]:
a = [7, 2, 1, 8]
a.append(3, 4)

TypeError: append() takes exactly one argument (2 given)

А если объединить элементы в список, метод `.append()` сработает, но результат будет отличаться от ожидаемого:

In [ ]:
a.append([3, 4])  # список [3, 4] как отдельный элемент
a

[7, 2, 1, 8, [3, 4]]

In [ ]:
a = [1, 2, 3]
a.append([1, 3, 4])
a

[1, 2, 3, [1, 3, 4]]

Поэтому в таком случае нужно использовать особый метод, метод `.extend()`:

In [ ]:
a = [7, 2, 1, 8]
a.extend([3, 4])
a

[7, 2, 1, 8, 3, 4]

Результат выше совпадает с тем, что мы бы получили, «склеивая» два списка через `+`:

In [ ]:
a = [7, 2, 1, 8]
a + [3, 4]

[7, 2, 1, 8, 3, 4]

### Функция `range()`

В Python есть функция `range()`, которая позволяет перебирать целые числа на заданном промежутке, не создавая при этом сам список чисел.

In [ ]:
# пример
for j in range(0, 6):
    print(j)

0
1
2
3
4
5

Правый конец заданного в `range()` промежутка **не включается**. В примере выше на экран были выведены числа от 0 до 5, число 6 включено не было.

Если мы хотим посмотреть на то, какие значения будут в `range()`, придется превратить его в список:

In [ ]:
range(0, 3) # не поспоришь, но бесполезно

range(0, 3)

In [ ]:
list(range(0, 3)) # значения внутри range

[0, 1, 2]

Полезный факт: если нас интересуют числа на промежутке, начиная с нуля, в `range()` левый конец можно не указывать, 0 будет выбран по умолчанию.

In [ ]:
list(range(1, 5))

[1, 2, 3, 4]

Еще один полезный факт: шаг (разность между последующими элементами) для последовательности целых чисел можно выставить самостоятельно. Для этого достаточно дописать третье число – значение шага – внутри функции `range()`:

In [ ]:
list(range(0, 18, 2))  # шаг 2

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
list(range(0, 18, 3))  # шаг 3

[0, 3, 6, 9, 12, 15]

In [ ]:
a=[1, 3, 5, 6, 8]
for i in range(0, 4):
  print('i -', i,'a[i] -',a[i])

i - 0 a[i] - 1
i - 1 a[i] - 3
i - 2 a[i] - 5
i - 3 a[i] - 6

### Метод `.split()`

In [ ]:
a = 'Hello world by BMT'
a.split()

['Hello', 'world', 'by', 'BMT']

Мы уже достаточно хорошо знакомы с вводом какой-то информации с клавиатуры с помощью `input()`. Однако раньше мы всегда вводили с клавиатуры только один объект: одно число или одно слово... А можно ли вводить сразу несколько слов или чисел?

In [ ]:
heroes = input("Введите имена героев мюзикла Notre Dame de Paris: ")

Введите имена героев мюзикла Notre Dame de Paris: Гренгуар Фролло Эсмеральда

Выше мы ввели довольно длинную строку: перечислили имена четырёх героев через пробел. Посмотрим на неё.

In [ ]:
heroes

'Гренгуар Фролло Эсмеральда'

А теперь разобьем эту строку по пробелу, чтобы получить четыре отдельных имени – воспользуемся методом `.split()`.

In [ ]:
heroes_list = heroes.split() # по умолчанию деление по пробелу
heroes_list

['Гренгуар', 'Фролло', 'Эсмеральда']

Получили самый обычный список. Можем обращаться к его элементам и даже изменять их при желании:

In [ ]:
heroes_list[1]

'Фролло'

Разбивать строку на части можно по любому символу, достаточно указать нужный символ в скобках в `.split()`.

In [ ]:
fheroes = input("Введите имена любимых героев NDDP через запятую: ")

Введите имена любимых героев NDDP через запятую: Фролло,Гренгуар

In [ ]:
fheroes

'Фролло,Гренгуар'

In [ ]:
fheroes.split(",")

['Фролло', 'Гренгуар']

Попробуем проделать то же самое, но для чисел.

In [ ]:
nums = input("Введите два числа: ")
nums_list = nums.split()

Введите два числа: 2 3

Список получили, но он пока состоит из строк, не из чисел.

In [ ]:
nums_list

['2', '3']

Поправим: превратим все элементы списка в целые числа с помощью цикла и сохраним их в новый список.

In [ ]:
final = []

for n in nums_list:
    final.append(int(n))
final

[2, 3]

Чуть позже мы узнаем, как более удобно (и что приятно, более быстро) сделать то же самое, но без цикла.

А пока узнаем, можно ли разбить строку по пустоте? То есть просто разделить её на отдельные символы. Попробуем.

In [ ]:
"1234".split("") # нельзя

ValueError: ignored

Python сообщает нам, что разделитель пустой, и делить строку на части не хочет. Однако это возможно с помощью функции `list()`, при применении к строке она возвращает список символов в строке:

In [ ]:
list("1234")

['1', '2', '3', '4']

In [ ]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [ ]:
s='Hello'
s[0]

'H'

Раз есть метод для разбиения строки на список строк, должна быть и обратная операция – для склеивания списка строк в одну большую строку. И такой метод действительно есть!

### Метод `.join()`

Пусть у нас есть список, состоящий из имени и фамилии.

In [ ]:
l = ['Daniel', 'Lavoie']

И мы хотим элементы списка склеить в одну строку так, чтобы между именем и фамилией был пробел.

In [ ]:
" ".join(l) # вуаля

'Daniel Lavoie'

Могли бы вместо пробела в кавычках поставить любой символ, например, нижнее подчеркивание.

In [ ]:
"_".join(l)

'Daniel_Lavoie'

**Важно:** метод `.join()` берет в качестве аргумента именно список, не просто перечисленные элементы через запятую.

In [ ]:
a = '7'
b = '8'

" ".join(a,b) # не работает

TypeError: ignored

In [ ]:
" ".join([a, b]) # работает

'7 8'

Иногда удобно сочетать методы `.split()` и `.join()`. Например, перед нами стоит такая задача. Пользователь вводит дату в формате день-месяц-год через точку, а мы хотим выводить на экран дату в том же формате, но через дефис. Чтобы решить эту задачу, можно взять введенную пользователем строку с датой, разбить её по точке, а затем склеить части, но уже используя дефис.

In [ ]:
date = input("Введите дату: ")
date

Введите дату: 20.04.2018

'20.04.2018'

In [ ]:
parts = date.split(".")
result = "-".join(parts)
print(result)

20-04-2018

## Условные конструкции и цикл `while`

### Проверка условий

Начнем с известных всем операторов. Проверим,

* правда ли, что 8 меньше 9;
* правда ли, что 9 больше 10.

In [ ]:
8 < 9 # правда

True

In [ ]:
9 > 10 # неправда

False

Результат такой проверки имеет логический тип (*boolean*).

In [ ]:
res = 8 < 9
res

True

Как мы уже обсуждали, переменные такого типа могут принимать два значения `True` или `False`. Обратите внимание, что `True` и `False` не заключены в кавычки – добавив кавычки, мы получим строки "True" и "False" (тип *string*).

In [ ]:
"True" == True

False

При проверке равенства двух частей (переменных, списков и так далее) используется двойной знак равенства.

In [ ]:
6.0 == 6

True

Одинарный знак «равно» используется для присваивания значений. Так ничего не сравним, но сохраним в переменную `a` число 6:

In [ ]:
a = 6
a

6

А так уже проверим условия:

In [ ]:
print(a == 6)
print(a == 9)

True
False

Отрицание равенства в Python обозначается с помощью оператора `!=` (вообще `!` в программировании используется для отрицания).

In [ ]:
6 != 7

True

Стоит отметить, что Python достаточно лояльно относится к разделению между типам данных. Например, если мы сравним целое число и то же число, но с плавающей точкой (с дробной частью равной 0), Python сообщит, что эти числа совпадают.

In [ ]:
6 == 6.0 # верно

True

### Сложные условия

Пусть у нас есть три целочисленные переменные `a`, `b` и `c`, и мы планируем составлять сложные, составные уcловия, касающиеся этих переменных.

In [ ]:
a = 3
b = 7
c = 1

Помогут операторы `and` и `or`. Оператор `and` соответствует одновременному выполнению условий, оператор `or` соответствует ситуации, когда хотя бы одно из условий выполняется. Оператор `or` в Python – обычное «или», не исключающее: либо верно первое условие, либо второе, либо оба.

In [ ]:
(a < b) and (b > c) # оба верны

True

In [ ]:
(a < b) and (c > b) # второе неверно -> все неверно

False

Вместо `and` можно использовать оператор `&`, он нам потом ещё пригодится при работе с датафреймами `pandas`:

In [ ]:
(a < b) & (c > b)

False

In [ ]:
(a < b) or (a > c) # первое верное -> хотя бы одно верно

True

Вместо `or` можно использовать оператор `|`:

In [ ]:
(a < b) | (a > c)

True

Кроме `and` и `or` в Python есть еще полезные операторы: оператор принадлежности `in` и оператор отрицания `not`.

Пусть у нас есть списки отличных, хороших, удовлетворительных и плохих оценок.

In [ ]:
excel = [8, 9, 10]
good = [6, 7]
sat = [4, 5]
bad = [1, 2, 3]

Проверим, лежит ли оценка 8 в плохих:

In [ ]:
8 in bad

False

In [ ]:
8 in excel

True

Применим отрицание:

In [ ]:
8 not in bad # верно!

True

In [ ]:
a=6
b=5
l=[1,2]
l2=l[:]
print(id(a),id(b))
print(a is b)
print(a == b)

print(id(l),id(l2))
print(l in l2)
print(l is l2)
print(l == l2)

133444690166160 133444690166128
False
False
133443418995712 133443418982208
False
False
True

In [ ]:
a = [1, 2]
b = a[:]
b == a

True

### Условные конструкции

Условные конструкции – конструкции с операторами условия. Условная конструкция обычно предполагает «развилку»: если условие выполняется, то должен выполняться один набор действий, если нет – другой набор действий. Давайте напишем программу, которая будет проверять, какое число сохранено в `x`, и если это число менее 10, на экран будет выводиться сообщение "Мало", иначе – "Много". И заодно познакомимся с конструкцией *if-else*.

In [ ]:
x = 10

In [ ]:
if x < 10:
    print("Мало")
else:
    print("Много")

Много

В части с `if` мы прописываем условие, в зависимости от которого Python будет делать выбор, что выводить на экран, а после двоеточия перечисляем действия, которые будут выполняться в случае, если `x` удовлетворяет условию. В части с `else` мы уже не пишем никакого условия – оператор `else` сам по себе означает «в случае, если условие в выражении с `if` не выполнено».

Часть с `else` является необязательной: программа может существовать только с условием `if`. Тогда в случае невыполнения условия ничего происходить не будет, Python просто перейдет к следующим строкам кода.

In [ ]:
if x < 10:
    print("Мало")

Как быть, если условий несколько? Например, мы просим пользователя ввести число, и если число больше 10, на экране должно быть сообщение "Много", если ровно 10 – "В самый раз", если меньше – "Мало". Условные конструкции можно вкладывать друг друга, главное не забывать при этом про отступы:

In [ ]:
if x < 10:
    print("Мало")
else:
    if x == 10:
        print("В самый раз")
    else:
        print("Много")

В самый раз

Можно воспользоваться оператором `elif`, который по смыслу является сочетанием `else + if`: если предыдущее условие невыполнено, то, нужно проверить следующее условие, и если оно тоже не выполнено, то уже перейти к ветке с `else`.

In [ ]:
if x < 10:
    print("Мало")
elif x == 10:
    print("В самый раз")
else:
    print("Много")

В самый раз

Ответвлений с `elif` может быть несколько: сколько условий, столько и выражений с `elif`.

Законный вопрос: а можно ли обойтись совсем без `elif`, просто записав несколько выражений с `if`? Тут все зависит от ситуации. Иногда решения использовать `elif` и `if` будут равнозначными, иногда – нет.

Рассмотрим такую задачу: в переменной `mark` хранится оценка в 10-балльной шкале, и нам нужно вывести по ней текстовый комментарий ("Excellent", "Good", "Satisfactory" или "Bad"). Решим эту задачу с помощью `elif`:

In [ ]:
mark = 6
if mark >= 8:
    print("Excellent")
elif mark >= 6:
    print("Good")
elif mark >= 4:
    print("Satisfactory")
else:
    print("Bad")

Good

Почему мы можем сделать так? Потому что на каждом шаге, при проверке нового условия мы сужаем круг интересующих нас исходов: если оценка не больше или равна 8, то она точно меньше 8 и сравнивать ее нужно только со следующей «пограничной» оценкой 6, далее, если оценка оказалась меньше 6, остается сравнить ее только с 4 и все.

Могли бы решить эту задачу без `elif`, а с помощью сложных условий:

In [ ]:
mark = 6
if mark >= 8:
    print("Excellent")
if (mark < 8) and (mark >= 6):
    print("Good")
if (mark < 6) and (mark >= 4):
    print("Satisfactory")
if (mark < 4):
    print("Bad")

Good

Если бы в конце вместо последнего `if` мы написали конструкцию с `else`, результат был бы другим:

In [ ]:
mark = 6
if mark >= 8:
    print("Excellent")
if (mark < 8) and (mark >= 6):
    print("Good")
if (mark < 6) and (mark >= 4):
    print("Satisfactory")
else:
    print("Bad")

Good
Bad

Почему? Потому что в этом случае часть с `else` относится не ко всем частям с `if` выше, а только к последней, где проверяется принадлежность `mark` промежутку от 6 до 8.

### Цикл `while`

С циклом `for` мы уже знакомы. Сейчас мы познакомимся с циклом `while`, логика которого отличается от `for`. Конструкции с циклом `while` устроены следующим образом: действия, которые указаны в теле цикла, должны выполняться до тех пор, пока верно условие, прописанное после `while` (отсюда и название). Если в цикле `for` мы указывали некоторый промежуток, по которому в ходе цикла мы будем «пробегаться», то в случае с циклом `while` мы просто фиксируем стартовую точку, а конечную точку никак не указываем: программа сама остановится, когда условие в цикле перестанет выполняться.

Давайте, используя цикл `while`, будем выводить на экран элементы списка `turnout` до тех пор, пока не столкнемся со странным значением явки (больше 100).

In [ ]:
turnout = [68, 45, 98, 56, 70, 146, 56, 67]

In [ ]:
i = 0 # начинаем с индекса i=0

while turnout[i] < 100: # пока элемент nums[i] >= 0
    print(turnout[i]) # выводим элемент на экран
    i = i + 1 # переходим к следующему элементу

68
45
98
56
70

На значении 70 мы остановились: за ним идет значение 146, для которого условие `turnout[i] < 100` не выполняется. Python не ожидал такого подвоха и перестал с нами разговаривать :)

Давайте теперь попробуем переписать код так, чтобы он работал точно так же, но только чтобы в нем использовался цикл `for`, а не `while`. Вообще почти любой код с `while` можно переписать через `for`, и иногда это полезно: код с циклом `while` обычно более медленный, плюс, склонен к зацикливанию.

In [ ]:
for t in turnout:
    if t < 100:
        print(t)
    else:
        break # выходим из цикла

68
45
98
56
70

В коде выше мы использовали оператор `break`, который позволяет выйти из цикла, то есть закончить исполнение строк кода в теле цикла и перейти к коду дальше.

Если бы мы хотели модифицировать код таким образом, чтобы он пропускал странное значение, ничего не делал, можно было бы добавить оператор `pass` вместо `break` (отвечает за отсутствие действия):

In [ ]:
for t in turnout:
  if t < 100:
      print(t)
  else:
      pass

68
45
98
56
70
56
67

In [ ]:
for t in turnout:
  if t < 100:
      print(t)
  else:
      continue
      print('into')
else:
  print('finish')

68
45
98
56
70
into
56
67
finish

конструкция `while True` – своеобразная альтернатива «бесконечному» циклу `for`.

#Задачи для решения на семинаре

1. Дана строка произвольной длины. Посчитайте количество слов в ней.

2. Проверить четность числа.

3. Проверить есть ли в списке заданное число, если есть вывести его индекс.

4. Дано 10-значное число, поменяйте порядок последних 4 цифр на обратный.

5. Дан список произвольной длины, необходимо напечатать все числа из этого списка соответствующие заданному диапазону.